// #RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

// #GENERALS

.container {
  width: 1400px;
  margin: 0 auto;
}

// #SECTIONS

header {
  .top-navbar {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        height: 150px;
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: bold;

        display: flex;
        align-items: center;

        &.active {
          box-shadow: inset 0px -5px 0px 0px #0282f9;
          color: #0282f9;
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  background-color: #1c1c1c;

  h2 {
    color: #fff;
  }
}

footer {
  .list-wrappers {
    display: flex;
  }
}
