@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// #RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

// #GENERALS

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

// #SECTIONS

header {
  .top-navbar {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      li {
        height: 150px;
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: bold;

        display: flex;
        align-items: center;

        &.active {
          box-shadow: inset 0px -5px 0px 0px #0282f9;
          color: #0282f9;
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  background-color: #1c1c1c;

  h2 {
    color: #fff;
  }
}

footer {
  .footer-top {
    background-image: url(/src/assets/img/footer-bg.jpg);
    background-size: cover;

    .list-wrappers {
      display: flex;
      padding: 30px 0;

      ul {
        .ul-title {
          display: inline-block;
          color: white;
          font-weight: bold;
          margin-bottom: 10px;
        }

        li {
          color: grey;
          text-transform: capitalize;
        }
      }

      .list-wrapper__left,
      .list-wrapper__center,
      .list-wrapper__right {
        margin-right: 50px;
      }

      .list-wrapper__left {
        ul:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .footer-bottom {
    height: 150px;
    background-color: #303030;
    display: flex;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer-bottom__left {
      .sign-up-btn {
        color: white;
        border: 2px solid #0282f9;
        padding: 15px;
      }
    }

    .footer-bottom__right {
      .socials {
        color: #0282f9;
        font-weight: bold;
      }
    }
  }
}
