//* FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// #RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

// #GENERALS

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}
